/* src/app/organizations/page.module.css */
.section {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    padding-top: 6rem;
    height: 100%;
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profileCardsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.error, .noOrganizations {
    text-align: center;
    color: #ff4d4f;
    font-size: 1.1rem;
    padding: 20px;
    border: 1px solid #ffccc7;
    background-color: #fff1f0;
    border-radius: 8px;
    grid-column: 1 / -1; /* Span across all columns in the grid */
}

.title {
    text-align: left;
    
}