.headerContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 1rem;

}
.header {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    backdrop-filter: blur(50px);
    box-sizing: border-box;
    padding: 0.5rem 1.15rem;
    border-radius: 12px;
    border: 1px solid var(--color-border);
}
.logoName {
    text-decoration: none;
}
.logo, .logoDark {
    height: auto;
    width: 3rem;
}
.buttonContainer {
    display: flex;
    margin: auto 0;
    gap: 0.5rem;
}
.navigationContainer {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    max-width: fit-content;
    min-width: 0; /* Important for flexbox overflow */
    margin: auto 0;
}

.logoLight {
  display: block;
}
.logoDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .logoLight {
    display: none;
  }
  .logoDark {
    display: block;
  }
}